{% extends "base.html" %}

{% block main %}

<div class="row dd">
    <div class="container-fluid recipe-card">
        <div class="row">
            <div class="col col-img">
                <img class="recipe-img" src="{{ url_for('static', filename='img/recipe_3.jpg')}}">
            </div>
        </div>
    </div>


    <div class="container-fluid recipe-card">
        <div class="row row-cols-auto justify-content-center">
            <div class="col col-info">
                <div class="container info">
                    <div class="row">
                        <h3>Кастыбый</h3>
                    </div>
                </div>
            </div>
            <div class="col col-img">
                <div class="container info">
                    <div class="row">
                        <img class="recipe-img" src="{{ url_for('static', filename='img/recipe_3.jpg')}}">
                    </div>
                </div>
            </div>
            <div class="col col-info">
                <div class="container info">
                    <div class="row">
                        <p class="info-p">Әзерлек вакыты: 120 мин</p>
                    </div>
                    <div class="row">
                        <p class="info-p">Калории: </p>
                    </div>
                    <div class="row">
                        <p class="info-p">Жиры: 12</p>
                    </div>
                    <div class="row">
                        <p class="info-p">Белки: 12</p>
                    </div>
                    <div class="row">
                        <p class="info-p">Углеводы: 12</p>
                    </div>
                    <div class="row">
                        <p class="info-p">
                            Готовность к приготовлению: 80%
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid recipe-card">
        <div class="row">
            <div class="col">
                <img class="recipe-img" src="{{ url_for('static', filename='img/recipe_3.jpg')}}">
            </div>
        </div>
    </div>
</div>

{% endblock %}