{% extends "base.html" %}

{% block main %}
<form action="" method="post">
    <div class="container fridge-container">
        {% for i in products %}
        <div class="row row-4">
            {% for j in i %}
            <div class="col">
                {% if j['inFridge'] == 1%}
                <input checked class="check-box" id="{{j['id']}}" name="{{j['id']}}" onclick="submit()"
                       type="checkbox" value="1">
                {% else %}
                <input class="check-box" id="{{j['id']}}" name="{{j['id']}}" onclick="submit()" type="checkbox"
                       value="1">
                {% endif %}
                <label for="{{j['id']}}">{{j['name']}}</label>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</form>
{% endblock %}